html, body {
    height: 100%;

}
body{
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer{
    flex-shrink: 0;
}
.clearfix::after {
        content: "";
        clear: both;
        display: table;
}
body{
    font-family: "arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-image: url("../images/Natural-Paper-Background.jpg");
    color: black;
    margin: 0px auto 0px auto;
    padding: 0px;

}
header {
    height: 94px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    border-bottom: #cccccc 3px solid;
}
.header {
    height: 94px;
    width: 960px;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;

}
.SCZ {
    float: left;
    box-sizing: border-box;
    height: 94px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #4aaaa5;
    color: white;
    overflow: hidden;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-size: 120%;
    
}
.SCZ h1 {
    padding: 0;
    margin: 0;
}

/* Navigation Bar Setup */
.navBar {
    float: right;
    margin-top: 30px;
    margin-right: 4px;
    /* border: 2px black solid; */

}
.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 2px yellow solid; */
}
.navList li {
    float:left;
    padding-right: 3px;
    padding-left: 3px;
    height: 40px;
    box-sizing: border-box;
    border-right: 1px lightgray solid;
    padding-top: 10px;
    overflow: visible;
    /* border: 2px pink solid; */
    

}
.navList li a {
    float:left;
    text-decoration: none;
    color: #777777;
    display: block;
    height: 50px;
    padding-top: 37px;
    padding-left: 1px;
    padding-right: 1px;
    /* border: 2px red solid; */
    margin-top: -37px;

}
.navList li a:hover {
    color: white;
    background: #4aaaa5;
}
.navBar li:last-child {
    border: none;
}
.main {
    clear:both;
    width: 960px;
    margin: 0px auto 0px auto;
}

#about_Me {
    clear: both;
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    width: 650px;
    min-height: 350px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}
#bio {
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
#bioImg {
    float: left;
    max-width: 200px;
    margin-right: 10px;
    margin-top: 20px;

}
img {
    max-width: 200px;
}

.footer {

    background-color: #666666;
    color: lightgrey;
    font-size: 8px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 2px;
    border-top: #4aaaa5 8px solid;
    min-width: 960px;
}

/* portfolio layout  */
#about_Portfolio {
    clear:both;
    width: 960px;
    min-height: 300px;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border: #dddddd 1px solid;   
    overflow: none; 
}
#portfolio {
    position: relative;
    border-top: lightgray solid 2px;
    min-height: 700px;
    padding-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.portBox {
    position: relative;
    float:left;
    margin: 20px 20px 10px 20px;
    width: 260px;
    height: 200px;
    /* border: black 2px solid; */
    background: #edeeef;
    overflow: hidden;
}

.portLink {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 40px;
    width: 260px;
    padding-top: 10px;
    text-decoration: none;

}

#rpgImage {
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 30px;
}

#triviaImage {
    margin-top: 20px;
    margin-left: 30px;
}

#widgetImage {
    margin-left: 30px;
}


#rockImage {
    margin-top: 20px;
    margin-left: 30px;
}

/* Contact Info */
#contactMe {
    clear: both;
    margin: 10px auto 20px auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    width: 960px;
    min-height: 300px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}
#contactInfo {
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 2px;
    padding-top: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    overflow: auto;
}

.tBox {
    border: 1px lightgrey solid;
    width: 98%;
    height: 20px;
}

.tArea {
    border: 1px lightgrey solid;
    resize: vertical;
    min-height: 50px;
    max-height: 300px;
    width: 98%;   
}
.submit {
    background-color: #4aaaa5;
    color: white;
    width: 70px;
    padding: 6px;
    margin-bottom: 10px;
}


.portBox>a:hover {
    color: rgba(255, 255, 255, 0.808);
    background: #37797588;
    padding-top: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* Index Sheet Media Calls */

/* MEDIA CALL FOR WITH 980 */
@media only screen and (max-width: 980px) {
    .header {
        width: 760px;
    }
    #about_Me{
        width: 650px;
    }
    .main {
        width:760px;
    }

    .footer {
        min-width: 760px;
    }
}
/* MEDIA CALL FOR WIDTH 768 */
@media only screen and (max-width: 768px){
    .header{
        width:635px;
    }
    #about_Me, .main {
        width: 635px;
        margin: 10px auto 20px auto;
        
    }
    .footer {
        min-width: 635px;
    }
    #bioImg{
        max-width: 150px;
    }
    .portBox {
        margin: 10px 15px 10px 20px;
    }
    input {
        width: 580px;
    }
}
/* MEDIA CALL FOR 640  */
@media only screen and (max-width: 640px){
    body {
        margin: 0;
        padding: 0;
    }
    header {
        height: 100px;
    }
    
    .header{
        width:100%;
        /* height: 200px; */
        overflow: visible;
        padding: 0;
        margin: 0;
    }

    .SCZ {
        float:none;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        box-sizing: border-box;
        padding: 0;
        width: 100%;
        height: 3em;
        
    }
    .SCZ h1 {
        padding: 5px 0 0 0;
        margin: 0;
        /* margin-left:20% */
    }
    .navBar {
        padding-left: 12px;
        float:none;
        width: 195px;
        height: 40px;
        margin-right:  auto;
        margin-left: auto;
        margin-top: 1px;
        text-align: center;
        overflow: visible;
    }

    .navList li a {
        float:left;
        text-decoration: none;
        color: #777777;
        height: 20px;
        padding-top: 0px;
        padding-left: 1px;
        padding-right: 1px;
        /* border: 2px red solid; */
        margin-top: 0px;

    }
    .navList li a:hover {
        color: #666666;
        background: #ffffff;
        font-size: 1.2em
    }
    /* #about_Me h2{
        text-align: center;

    } */

    #about_Me, .main{
        width: 98%;        
    }
    #bioImg{
        width: 50%;
        float: none;
        /* transform: translate(50% 0%); */
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .footer {
       min-width: 100%;
    }
    .footer p {
        width: 100px;
        text-align: center;
        margin: auto;
    }
    /* 640 pixel portolio tweak */
    .portBox {
        float:none;
        margin: 10px auto 0 auto;
    }

}